* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

.brand-logo,
.brand-logo:hover {
  color: #3d3488;
  text-decoration: none;
  font-size: 3.5rem;
  font-weight: bolder;
}

.links {
  color: #535353;
}

.links:hover,
.is-active {
  color: #3d3488;
  text-decoration: none;
}
